<div class="mt-4 d-flex justify-content-center">
    <input type="text" name="" id="" [(ngModel)]="busca.ip">
    <button (click)="buscar()">Buscar IP</button>
</div>
<div class="d-flex justify-content-center mt-4">
    <table class="table table-dark table-striped" style="width: 75%;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ip</th>
            <th scope="col">C.P</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Pais</th>
            <th scope="col">Estado</th>
            <th scope="col">Idioma</th>
            <th scope="col">Moneda</th>
            <th scope="col">Continente</th>
            <th scope="col">Longitud</th>
            <th scope="col">Latitud</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datos">
            <th>{{dato.id}}</th>
            <td>{{dato.nombre}}</td>
            <td>{{dato.ip}}</td>
            <td>{{dato.cp}}</td>
            <td>{{dato.ciudad}}</td>
            <td>{{dato.pais}}</td>
            <td>{{dato.estado}}</td>
            <td>{{dato.idioma}}</td>
            <td>{{dato.moneda}}</td>
            <td>{{dato.continente}}</td>
            <td>{{dato.longitud}}</td>
            <td>{{dato.latitud}}</td>
            <td><button (click)="eliminar(dato.id)"><i class="fa-solid fa-trash" style="color: #ca1212;"></i></button></td>
            <td><button (click)="mapa(dato.latitud, dato.longitud)"><i class="fa-solid fa-map-pin"></i></button></td>
          </tr>
        </tbody>
      </table>
</div>